<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CEIS320_FinalApplication"
        tools:targetApi="31">
        <activity
            android:name=".PercentileRollerActivity"
            android:exported="false" />
        <activity
            android:name=".OneHundredSideRollerActivity"
            android:exported="false" />
        <activity
            android:name=".FiftySideRollerActivity"
            android:exported="false" />
        <activity
            android:name=".TwentySideRollerActivity"
            android:exported="false" />
        <activity
            android:name=".TwelveSideRollerActivity"
            android:exported="false" />
        <activity
            android:name=".EightSideRollerActivity"
            android:exported="false" />
        <activity
            android:name=".SixSideRollerActivity"
            android:exported="false" />
        <activity
            android:name=".ThreeSideRollerActivity"
            android:exported="false" />
        <activity
            android:name=".FourSideRollerActivity"
            android:exported="false" />
        <activity
            android:name=".TwoSideRollerActivity"
            android:exported="false" />
        <activity
            android:name=".GeneralRollerActivity"
            android:exported="false" />
        <activity
            android:name=".PathfinderActivity"
            android:exported="false" />
        <activity
            android:name=".FifthEditionActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>